div{
    margin-top: 5px;
    text-align: center;
}


.nav-bar{
    justify-content: space-between;
    /* justify-content: 80px; */
}
span{
    padding-left: 1rem;
}
.container{
    width: 100%;
    margin-top: 40px;
    height: 100vh;
    
    display: flex;
 text-align: center;
    
}
.mat-title{
    
    margin-top: 100px;
    text-align: center;
 }
p{
    text-align: center;
    margin-top:auto;
}
 .mat-drawer-container{
    height: 100px;
}
.mat-drawer, mat-drawer-content{
    padding: 16px;
}
.mat-drawer{
    /* background-color: rgb(226,50,44); */
     width: 200px;
}
 
 /* .rightsider{
    background-color: yellow;
    height: 400px;
     width: 10px;
} */


.rightsidebar{
    background-color: white(150, 45, 45); 
     height: 400px;
    width: 200px;
    float: right;
    border-radius: 20px;
    margin-top: 20px;
}

/* .leftsidebar{
  background:pink;
    width: 0px;
    height: 0px; 
    margin: 10px;
    border: 1px solid #555;
  } */



.leftsidebar{
  height: 400px;
    width: 200px;
    float: left;
    border-radius: 20px;
    margin-top: 20px;


}



/* youtube website */

.mat-sidenav{
  width:200px;
  margin-right: 0px;
  background-color:white;
  /* background: white(150, 45, 45); */
  height: 400px;
  margin-top: 10px;
  float: left;
}


/* mat-grid-tile {
    background: lightblue;
  } */
  /* .form-control {
    text-align: center;
    border-radius: 3px;
    width: 600px;
    margin-center: 20px;
  } */