<!-- <p>header works!</p> -->
<!DOCTYPE html>
<html>

        <div style="border: 1px solid; width: 99%; height: 5px">
            <mat-toolbar color="warn" class="nav-bar">
                <!-- <div><button mat-icon-button><mat-icon>menu</mat-icon></button></div> -->
                <div>Menu</div> 
                <div>On-configure</div>
                <div>Select objects</div>
                <div>Configure Destination </div>
                <div>Final settings</div>
                <div>Cancel</div></mat-toolbar>

         </div>



        <div *ngIf="isShownv">
                  <p class="mat-title"></p>
                  <p class="mat-subheading-1">Select Source Type</p>
                  <p>Select the Sourse you want to bring data from</p>
                    <form>
                   <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search sourse Type">
                    </form>
        </div>

            
        <div style="border: 1px solid white; height: 500px; float:left; margin-top: 70px">

            <div class="leftsidebar">
                <div class="wrapper">
                    <div *ngIf="isShownv">
                  

                   <button mat-button  color=""routerLink="/allsourses">All-Sourses</button><br>
                    <button  mat-button  color="" routerLink="/databases">Databases</button><br>
                    <button mat-button color="" routerLink="/crm">CRM</button><br>
                    <button mat-button  color="" routerLinkActive="active" mat-button routerLink="/e-commerce">E-Commerce</button><br>
                    <button  mat-button color=""  routerLinkActive="active" mat-button routerLink="/cloudstorage">Cloud Storage</button><br>
                    <button  mat-button  color="" routerLinkActive="active"mat-button routerLink="/analytics">Analytics</button><br>
                    <button  mat-button color="" routerLinkActive="active" mat-button routerLink="/marketingandemail">Marketing & E-mail</button><br>

                    </div>


                </div>
            </div>
        </div>
    
      
        <div style="border: 1px solid white; width: 79%; height: 600px; float: left; float: right;  margin-top:  70px;  ">

            
            <div> <router-outlet></router-outlet></div>
</div>
</html> 