
.itemdata{
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  max-width: 30ch;
  text-align: center;
}


.card{
  padding:15px;
  margin: 3px;
}
.card{
  width: 200px;
  height: 130px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.card img:hover{
  transition: 0.3s  ease-in-out;
  transform: scale(1.1);
}

.card:hover{
  box-shadow: 0 0 10px 2px lightblue;
}



.card-img{
height: 200px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}