 /* div{
    margin-top: 5px;
    text-align: center;
}


.nav-bar{
    justify-content: space-between;
}
span{
    padding-left: 1rem;
}
.container{
    width: 100%;
    margin-top: 40px;
    height: 100vh;
    
    display: flex;
 text-align: center;
    
}
.mat-title{
    
    margin-top: 100px;
    text-align: center;
 }
p{
    text-align: center;
    margin-top:auto;
}
 .mat-drawer-container{
    height: 100px;
}
.mat-drawer, mat-drawer-content{
    padding: 16px;
}
.mat-drawer{
    background-color: rgb(226,50,44);
    width: 200px;
} 
 
 .rightsider{
    background-color: yellow;
    height: 400px;
    width: 10px;
} 


.rightsidebar{
    background-color: white(150, 45, 45); 
    
    
     height: 400px;
    width: 200px;
    float: right;
    border-radius: 20px;
    margin-top: 20px;
}
.leftsidebar{
    
    height: 400px;
    width: 30px;
    border-radius: 20px;
    margin-top: 20px;

} 

mat-grid-tile {
    background: lightblue;
  } */



  /* like youtube website code  */

  /* *{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: #5a5a5a;
  }
  img{
    cursor: pointer;
  }
  .flex-div{
    display: flex;
    align-items: center;
     }

     nav{
        padding: 10px 2%;
        justify-content: space-between;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
     }
     .nav-left .menu-icon{
        width: 22px;
        margin-right: 25px;
     } */


     /* side nav bar code here */
     /* .sidenav{
        background: #fff;
        width: 15%;
        height: 100vh;
        position: fixed;
        top: 0;
        padding-left: 2%;
        padding-top: 80px;
     }

     .shortcut-links a{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: fit-cntent;
        flex-wrap: wrap;
     }

     .shortcut-links a:first-child{
        color: #5a5a5a;
     }

     .small-sidebar{
        width: 5%;

     }

     .small-sidebar a p{
        display: none;
     }
     .small-sidebar h3{
        display: none;
     } */


     /* boostrap sidenav code here */

     /* body {
      background: #599fd9;
      min-height: 100vh;
      overflow-x: hidden;
     }

     .vertical-nav {
      min-width: 17rem;
      width: 17rem;
      height: 100vh;
      position:fixed;
      top: 0;
      left: 0;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s;
     } */