

 <div class="grid-contaner">
  <div class="container">
      <div class="row gy-3">
      
      <ng-container *ngFor="let images of images | filter:searchkey:'title'">
          <div class="card col-md-3">
            <a [routerLink]="['/mysqlvariants',images.url]">
              <img src="{{images.image}}" alt=""  height="50" width="50" class="center" (click)="clickme()"></a>
          <h5 class="itemdata">{{images.title}}</h5>
          </div>
          </ng-container>
      
          </div>
  </div>

</div>
