 
 <!DOCTYPE html>
 <html>
 <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <style>
 </style>
 </head>
 <body>
 

      
  <div class="split left">
 
     <h1>Configure your {{data.title}} Source</h1>
     <h4>Follow the guide on the rightto set up your source or invite a team member to do it  for you </h4>
   
       <h5>please provide {{data.title}} connection settings or copy from one of the Existing Sources</h5>

           <label for="fname">PipeLine name*:
           <input type="text" id="fname" name="fname"></label><br><br>
            <h5>Unique name for your Pipeline.</h5>
                     <label for="lname">Database Host:</label>
                      <input type="text" id="lname" name="lname"><br><br>
     
   
        <h5>Ip address or the DNS name for your database server</h5>

              <label for="fname">Database User*:
              <input type="text" id="fname" name="fname"></label><br><br>
              <label for="fname">Database Password*:
              <input type="text" id="fname" name="fname"></label><br><br>
         <h4>Select an Ingestion Mode</h4><h4>Binlog</h4>
        <li>Ingestion will happen through {{data.title}} Binlog.This is the most efficient way to setup real-time charge data capture.Deletes are also replicated to the destination
        </li><br>
       <h4>Table</h4><li>Ingestion will happen by running select {{data.title}} queries on your tables. this mode provide change data capture through modified/updated timestamp columns.Deletes are not replicated to the destination.</li><br>

     <h4>Custom {{data.title}}</h4>
     <li>Ingestion will happen by running a custom {{data.title}} query provided by you on the database.This  mode allows you to replicate database views or selective data sets queried through the {{data.ttle}} query.Deletes are not replicated to the destination.
</li><br><br>

<label for="lname">Database name:</label>
<input type="text" id="lname" name="lname">
<h5>Name of the database</h5>
<h5>please open access to undefined port from hevo's Ip address 13.235.131.126</h5>

<form action="/action_page.php">
      <input type="radio" id="html" name="fav_language" value="HTML">
      <label for="html">connect through SSH</label>
    <h5>connect securely through SSH tunnel server</h5>
      <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="html">Use SSL</label>
<h5>Use an SSL encrypted connection</h5></form><br>


         <input type="submit" value="TEST CONNECTON">

         <input type="submit" value="TEST & CONTINUE"><br><br>
 </div>



 <div class="split right">

      <h2>{{data.title}} Setup Guide</h2>
      <h4>{{data.title}} offers mysql as a fully-managed web service.you can use {{data.title}} to host your mysql database in google cloud platform, and let gooogle cloud handle admisnstratve tasks such a replication,patch management,and database managemennt for it.  </h4><br>
      <h4>you can ingest data from your {{data.title}} database using pipeLines and replicate it to a Destination of your choice.</h4>

      <h3>Prerequisites</h3><br>

       <p><li>The {{data.title}} instance (not localhost) is running.To check this,access your {{data.title}} server and look for an Active indicaton next to the instance name.  </li></p>

   
  </div>
      
 </body>
 </html> 