body {
  font-family: Arial;
  /* color: white; */
 }

.split {
  height: 100%;
  width: 50%;
  /* position: fixed; */

  position: fixed;
  z-index: 1;
  top: 3;
  /* overflow-x: hidden; */
  /* overflow-x:hidden; */
  /* padding-top: 0px; */
}

.left {
  left: 0;
    overflow:auto;
    overflow:scroll;
  position:fixed;

  height:500px;
  width: 700px;
  float:right;
  
}

.right {
  right: 0;
  overflow: auto;
  overflow:scroll;
  position:fixed;

  height: 500px;
  width: 500px;
  float:left;
}


  p{
    text-align: leftside;
    margin-top:auto;
}

